# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "release/*" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Mirror release branch
      if: success()
      env:
        TARGET_REPO: EmilNordahn/uge-8-release
        TARGET_PAT: ${{ secrets.SECOND_REPO_PAT }}
      run: |
        git remote add secondary https://x-access-token:${TARGET_PAT}@github.com/${TARGET_REPO}.git
        # Push all release branches from origin to secondary repo
        for branch in $(git branch -r | grep origin/release/ | sed 's|origin/||'); do
          git push secondary $branch:$branch
        done
      
